#main {
    background-color: #141414;
    color: white;
    font-family: monospace;
    margin: 18%;
    transition: background-color 0.25s;
    animation: 0.25s ease-out 0s 1 running show;
    scale: 1.15;
    font-size: 16px;
}

#timeAndDate {
    margin-right: 250px;
    clear: both;
}

#time {
    font-size: 65px;
    font-weight: 800;
    margin: 0;
}

#date {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 7px;
}

div {
    float: left;
}

a:not(#subreddit) {
    font-size: 15px;
}

#group1, #group2, #group3 {
    border-top: solid 3px;
    padding-right: 50px;
    padding-left: 10px;
    margin-bottom: 20px;
    animation: 0.3s 1 ease running slideDown;
}

#group1 { border-color: #78A9FF; }
#group2 { border-color: #f78848; }
#group3 { border-color: #EE5396; }

#group1 a:link,
#group1 a:visited { color: #78A9FF; text-decoration: none; }
#group1 a:hover { background-color: #78A9FF; color: #141414; }
#group1 h2 { color: #78A9FF; }

#group2 a:link,
#group2 a:visited { color: #f78848; text-decoration: none; }
#group2 a:hover { background-color: #f78848; color: #141414; }
#group2 h2 { color: #f78848; }

#group3 a:link,
#group3 a:visited { color: #EE5396; text-decoration: none; }
#group3 a:hover { background-color: #EE5396; color: #141414; }
#group3 h2 { color: #EE5396; }

/* Responsive HTML */
@media screen and (max-width: 1080px) {
    div { width: 100%; }
    #content { float: left; }
    #timeAndDate { margin-top: -3%; }
    #group1, #group2, #group3 {
        border-left: solid 3px;
        border-top: 0;
    }
    #group1 { border-color: #78A9FF; }
    #group2 { border-color: #f78848; }
    #group3 { border-color: #EE5396; }
}

hr {
    border: 1.5px solid #78A9FF;
    width: 40px;
    margin-left: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Animations */
@keyframes show {
    0% { background-color: #000000; }
    100% { background-color: #141414; }
}

@keyframes slideDown {
    0% { opacity: 0; transform: translateY(50%); }
    100% { opacity: 1; transform: translateY(0); }
}
